/* Compiled from SCSS with gulp*/
@font-face {
  font-family: "Guardian Egyptian Headline";
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.eot");
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.svg#Guardian-Egyp-Web-Light") format("svg");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Guardian Egyptian Headline";
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.eot");
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.svg#Guardian-Egyp-Web-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Guardian Egyptian Headline";
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.eot");
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.svg#Guardian-Egyp-Web-Regular-It") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: "Guardian Egyptian Headline";
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.eot");
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.svg#Guardian-Egyp-Web-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Guardian Egyptian Headline";
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold.eot");
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold.svg#Guardian-Egyp-Web-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Guardian Egyptian Headline";
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold-It.eot");
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold-It.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold-It.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold-It.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold-It.svg#Guardian-Egyp-Web-Semibold-It") format("svg");
  font-weight: 600;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: "Guardian Egyptian Headline";
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.eot");
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.svg#Guardian-Egyp-Web-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Guardian Egyptian Headline";
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.eot");
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.svg#Guardian-Egyp-Web-Bold-It") format("svg");
  font-weight: bold;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: "Guardian Egyptian Text";
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg.eot");
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg.svg#Guardian-Text-Egyp-Web-Reg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Guardian Egyptian Text";
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg-It.eot");
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg-It.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg-It.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg-It.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg-It.svg#Guardian-Text-Egyp-Web-Reg-It") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: "Guardian Egyptian Text";
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med.eot");
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med.svg#Guardian-Text-Egyp-Web-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Guardian Egyptian Text";
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med-It.eot");
  src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med-It.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med-It.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med-It.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med-It.svg#Guardian-Text-Egyp-Web-Med-It") format("svg");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal; }

@-webkit-keyframes tabbed-list-opacity0to1 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes tabbed-list-opacity0to1 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

h2, h2, h3, h4, h5 {
  font-family: "Guardian Egyptian Headline",Georgia,serif; }

.zone-culture .zone-news .zone-color {
  color: #D61D00; }

.zone-culture .zone-news .zone-background {
  background-color: #D61D00; }

.zone-culture .zone-news .zone-border {
  border-color: #D61D00; }

.zone-culture .zone-sport .zone-color {
  color: green; }

.zone-culture .zone-sport .zone-background {
  background-color: green; }

.zone-culture .zone-sport .zone-border {
  border-color: green; }

.zone-culture .zone-travel .zone-color {
  color: #066EC9; }

.zone-culture .zone-travel .zone-background {
  background-color: #066EC9; }

.zone-culture .zone-travel .zone-border {
  border-color: #066EC9; }

.js-off .tabbed-list__head {
  display: none; }

.tabbed-list__head-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  list-style: none; }

.tabbed-list__head-item {
  min-width: 33.333333%;
  box-sizing: border-box; }

.tabbed-list__link {
  display: block;
  padding: 1rem 0.5rem 0.5rem;
  color: #fff;
  text-decoration: none;
  font-family: "Guardian Egyptian Headline",Georgia,serif;
  border-bottom-style: solid;
  border-bottom-width: 0;
  -webkit-transition: .25s all ease;
  transition: .25s all ease; }
  .tabbed-list__link.active {
    border-bottom-width: .25rem; }
  .tabbed-list__link:hover {
    text-decoration: underline; }

.tabbed-list__panel.visible {
  -webkit-animation: tabbed-list-opacity0to1 .5s;
  animation: tabbed-list-opacity0to1 .5s; }

.tabbed-list__panel {
  padding: 0.5rem; }
  .js-on .tabbed-list__panel {
    display: none; }
  .tabbed-list__panel.visible {
    display: block; }

.news-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .news-list__title {
    border-bottom: 1px solid; }
  .news-list__item {
    margin: .5rem 0; }
    .news-list__item-link {
      display: inline-block;
      text-decoration: none;
      font-family: "Guardian Egyptian Headline",Georgia,serif;
      color: #333; }
      .news-list__item-link:hover {
        text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
