<!DOCTYPE html>
<html lang="en" class="js-off">
	<head>
		<meta charset="UTF-8">
		<title>Guardian Tab Widget</title>
		<!-- assuming the site has a js-off class -->
		<script>
			document.documentElement.classList.add('js-on');
			document.documentElement.classList.remove('js-off');
		</script>
		<!-- assuming the site has some kind of normalization -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">

		<link rel="stylesheet" href="css/main.css">
	</head>
	<body class="zone-culture">
		<div class="tabbed-list" 
			data-tabbed-list-template="#tabbed-list__template"
			data-tabbed-list-url="https://content.guardianapis.com/search?api-key=7c943970-9e98-461e-9202-18bf35e9bcc0&section=<%= section %>"'>
			<div class="tabbed-list__head">
				<ul class="tabbed-list__head-list" role="tablist">
					<li class="tabbed-list__head-item zone-news">
						<a href="#uk-tab" class="tabbed-list__link zone-background zone-border" aria-controls="uk-tab" role="tab">
							UK
						</a>
					</li>
					<li class="tabbed-list__head-item zone-sport">
						<a href="#football-tab" class="tabbed-list__link zone-background zone-border" aria-controls="football-tab" role="tab">
							Football
						</a>
					</li>
					<li class="tabbed-list__head-item zone-travel">
						<a href="#travel-tab" class="tabbed-list__link zone-background zone-border" aria-controls="travel-tab" role="tab">
							Travel
						</a>
					</li>
				</ul>
			</div>
			<div class="tabbed-list__content">
				<div id="uk-tab" class="tabbed-list__panel zone-news" role="tabpanel" 
					data-tabbed-content-data='{"title":"UK News", "class":"news"}'
					data-tabbed-list-data='{"section":"uk-news"}'>
					<h3 class="news-list__title zone-color">UK News</h3>

					<ul class="news-list">
				
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/davehillblog/2016/jul/05/earls-court-uncertain-times-for-landmark-london-regeneration-scheme">Earls Court: uncertain times for 'landmark' London regeneration scheme</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/senior-british-officers-knew-of-wetting-of-iraqi-civilians-inquiry-told">Senior British officers knew of 'wetting' of Iraqi civilians, inquiry told</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/calls-strip-southern-rail-operator-franchise-govia-thameslink">Calls intensify to strip 'incompetent' Southern rail operator of franchise</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/scotland-fishing-federation-ministers-brexit-eu-referendum">Scotland's pro-Brexit fishing federation warns ministers over EU stance</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/chair-of-scottish-abuse-inquiry-quits-over-government-interference">Chair of Scottish abuse inquiry quits over 'government interference'</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/man-guilty-murder-sex-worker-leeds-daria-pionko-lewis-pierre">Man found guilty of murdering sex worker in Leeds</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/hatton-garden-heist-leader-brian-reader-treatment-complaint">Family of Hatton Garden heist leader complain about his treatment</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/future-of-eu-nationals-in-uk-uncertain-may-comments-tory-leadership-brexit">Future of EU nationals in UK more uncertain after May comments</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/squatters-evicted-derelict-london-nursery-camden-town">Squatters evicted from derelict London nursery</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/caroline-lucas-strip-incompetent-southern-rail-operator-of-contract">Caroline Lucas: strip 'incompetent' Southern rail operator of contract</a>
						</li>
						
					</ul>
				</div>
				<div id="football-tab" class="tabbed-list__panel zone-sport" role="tabpanel" 
					data-tabbed-content-data='{"title":"Football", "class":"sport"}'
					data-tabbed-list-data='{"section":"football"}'>
					
					<h3 class="news-list__title zone-color">Football</h3>

					<ul class="news-list">
				
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/davehillblog/2016/jul/05/earls-court-uncertain-times-for-landmark-london-regeneration-scheme">Earls Court: uncertain times for 'landmark' London regeneration scheme</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/senior-british-officers-knew-of-wetting-of-iraqi-civilians-inquiry-told">Senior British officers knew of 'wetting' of Iraqi civilians, inquiry told</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/calls-strip-southern-rail-operator-franchise-govia-thameslink">Calls intensify to strip 'incompetent' Southern rail operator of franchise</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/scotland-fishing-federation-ministers-brexit-eu-referendum">Scotland's pro-Brexit fishing federation warns ministers over EU stance</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/chair-of-scottish-abuse-inquiry-quits-over-government-interference">Chair of Scottish abuse inquiry quits over 'government interference'</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/man-guilty-murder-sex-worker-leeds-daria-pionko-lewis-pierre">Man found guilty of murdering sex worker in Leeds</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/hatton-garden-heist-leader-brian-reader-treatment-complaint">Family of Hatton Garden heist leader complain about his treatment</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/future-of-eu-nationals-in-uk-uncertain-may-comments-tory-leadership-brexit">Future of EU nationals in UK more uncertain after May comments</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/squatters-evicted-derelict-london-nursery-camden-town">Squatters evicted from derelict London nursery</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/caroline-lucas-strip-incompetent-southern-rail-operator-of-contract">Caroline Lucas: strip 'incompetent' Southern rail operator of contract</a>
						</li>
						
					</ul>
				</div>
				<div id="travel-tab" class="tabbed-list__panel zone-travel" role="tabpanel" 
					data-tabbed-content-data='{"title":"Travel", "class": "travel"}'
					data-tabbed-list-data='{"section":"travel"}'>
					
					<h3 class="news-list__title zone-color">Travel</h3>

					<ul class="news-list">
				
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/davehillblog/2016/jul/05/earls-court-uncertain-times-for-landmark-london-regeneration-scheme">Earls Court: uncertain times for 'landmark' London regeneration scheme</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/senior-british-officers-knew-of-wetting-of-iraqi-civilians-inquiry-told">Senior British officers knew of 'wetting' of Iraqi civilians, inquiry told</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/calls-strip-southern-rail-operator-franchise-govia-thameslink">Calls intensify to strip 'incompetent' Southern rail operator of franchise</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/scotland-fishing-federation-ministers-brexit-eu-referendum">Scotland's pro-Brexit fishing federation warns ministers over EU stance</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/chair-of-scottish-abuse-inquiry-quits-over-government-interference">Chair of Scottish abuse inquiry quits over 'government interference'</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/man-guilty-murder-sex-worker-leeds-daria-pionko-lewis-pierre">Man found guilty of murdering sex worker in Leeds</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/hatton-garden-heist-leader-brian-reader-treatment-complaint">Family of Hatton Garden heist leader complain about his treatment</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/future-of-eu-nationals-in-uk-uncertain-may-comments-tory-leadership-brexit">Future of EU nationals in UK more uncertain after May comments</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/squatters-evicted-derelict-london-nursery-camden-town">Squatters evicted from derelict London nursery</a>
						</li>
						
						<li class="news-list__item">
							<a class="news-list__item-link" href="https://www.theguardian.com/uk-news/2016/jul/04/caroline-lucas-strip-incompetent-southern-rail-operator-of-contract">Caroline Lucas: strip 'incompetent' Southern rail operator of contract</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<script id="tabbed-list__template" type="text/template">
			<h3 class="news-list__title zone-color"><%= title %></h3>
			<% if(results && results.length){ %>
			<ul class="news-list">
				<% _.each(results, function(item){ %>
				<li class="news-list__item">
					<a class="news-list__item-link" href="<%= item.webUrl %>"><%= item.webTitle %></a>
				</li>
				<%})%>
			</ul>
			<%} else {%>
				<p>No news here boy!</p>
			<%}%>
		</script>

		<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
