// UTILS

/* Compiled from SCSS with gulp*/

// VARS (cloned from guardian github)
// Global colours
$textDarkGrey: #333;
$hoverGrey: #d9d9d9;
$grey: #c6c6c6;
$lightGrey: #ededed;

$blue: #005689;


// Zone colours
$colorZoneNews: #D61D00; // red
$colorZoneSport: green; // green
$colorZoneComment: #0061A6; // blue
$colorZoneCulture: #D61D00; // pink
$colorZoneBusiness: #3246AB; // navy blue
$colorZoneMoney: #8F1AB6; // purple
$colorZoneLifestyle: #AD532F; // lifestyle
$colorZoneTravel: #066EC9; // light blue
$colorZoneEnvironment: #4A7801; // eco green

$zones : (
	'news': $colorZoneNews,
	'sport': $colorZoneSport,
	'travel': $colorZoneTravel
);

// Fonts
	@font-face {
	    font-family: "Guardian Egyptian Headline";
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.eot');
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.eot?#iefix') format('embedded-opentype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.woff') format('woff'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.ttf') format('truetype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.svg#Guardian-Egyp-Web-Light') format('svg');
	    font-weight: 200;
	    font-style: normal;
	    font-stretch: normal;
	}
	@font-face {
	    font-family: "Guardian Egyptian Headline";
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.eot');
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.eot?#iefix') format('embedded-opentype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.woff') format('woff'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.ttf') format('truetype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.svg#Guardian-Egyp-Web-Regular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: normal;
	}
	@font-face {
	    font-family: "Guardian Egyptian Headline";
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.eot');
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.eot?#iefix') format('embedded-opentype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.woff') format('woff'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.ttf') format('truetype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.svg#Guardian-Egyp-Web-Regular-It') format('svg');
	    font-weight: normal;
	    font-style: italic;
	    font-stretch: normal;
	}
	@font-face {
	    font-family: "Guardian Egyptian Headline";
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.eot');
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.eot?#iefix') format('embedded-opentype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.woff') format('woff'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.ttf') format('truetype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.svg#Guardian-Egyp-Web-Medium') format('svg');
	    font-weight: 500;
	    font-style: normal;
	    font-stretch: normal;
	}
	@font-face {
	    font-family: "Guardian Egyptian Headline";
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold.eot');
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold.eot?#iefix') format('embedded-opentype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold.woff') format('woff'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold.ttf') format('truetype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold.svg#Guardian-Egyp-Web-Semibold') format('svg');
	    font-weight: 600;
	    font-style: normal;
	    font-stretch: normal;
	}
	@font-face {
	    font-family: "Guardian Egyptian Headline";
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold-It.eot');
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold-It.eot?#iefix') format('embedded-opentype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold-It.woff') format('woff'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold-It.ttf') format('truetype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold-It.svg#Guardian-Egyp-Web-Semibold-It') format('svg');
	    font-weight: 600;
	    font-style: italic;
	    font-stretch: normal;
	}
	@font-face {
	    font-family: "Guardian Egyptian Headline";
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.eot');
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.eot?#iefix') format('embedded-opentype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.woff') format('woff'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.ttf') format('truetype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.svg#Guardian-Egyp-Web-Bold') format('svg');
	    font-weight: bold;
	    font-style: normal;
	    font-stretch: normal;
	}
	@font-face {
	    font-family: "Guardian Egyptian Headline";
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.eot');
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.eot?#iefix') format('embedded-opentype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.woff') format('woff'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.ttf') format('truetype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.svg#Guardian-Egyp-Web-Bold-It') format('svg');
	    font-weight: bold;
	    font-style: italic;
	    font-stretch: normal;
	}

	@font-face {
	    font-family: "Guardian Egyptian Text";
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg.eot');
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg.eot?#iefix') format('embedded-opentype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg.woff') format('woff'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg.ttf') format('truetype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg.svg#Guardian-Text-Egyp-Web-Reg') format('svg');
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: normal;
	}
	@font-face {
	    font-family: "Guardian Egyptian Text";
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg-It.eot');
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg-It.eot?#iefix') format('embedded-opentype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg-It.woff') format('woff'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg-It.ttf') format('truetype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg-It.svg#Guardian-Text-Egyp-Web-Reg-It') format('svg');
	    font-weight: normal;
	    font-style: italic;
	    font-stretch: normal;
	}
	@font-face {
	    font-family: "Guardian Egyptian Text";
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med.eot');
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med.eot?#iefix') format('embedded-opentype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med.woff') format('woff'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med.ttf') format('truetype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med.svg#Guardian-Text-Egyp-Web-Medium') format('svg');
	    font-weight: 500;
	    font-style: normal;
	    font-stretch: normal;
	}
	@font-face {
	    font-family: "Guardian Egyptian Text";
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med-It.eot');
	    src: url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med-It.eot?#iefix') format('embedded-opentype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med-It.woff') format('woff'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med-It.ttf') format('truetype'),
	         url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med-It.svg#Guardian-Text-Egyp-Web-Med-It') format('svg');
	    font-weight: 500;
	    font-style: italic;
	    font-stretch: normal;
	}

// ANIMATION
	@keyframes tabbed-list-opacity0to1 {  
		from {
			opacity: 0
		}
		to {
			opacity: 1;
		}
	}

// BASIC STYLES
	h2, h2,h3,h4,h5 {
		font-family: "Guardian Egyptian Headline",Georgia,serif;
	}

// MIMIC GUARDIAN COLOR
	.zone-culture {
		@each $name, $color in $zones {
			.zone-#{$name} {
				.zone-color {
					color: $color;
				}
				.zone-background {
					background-color: $color;
				}
				.zone-border {
					border-color: $color;
				}
			}
		}
	}
	// TABBED-LIST
	.tabbed-list {
		$padding : .5rem;
		&__head {
			.js-off & {
				display: none;
			}
			&-list {
				padding: 0;
				margin: 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: left;
				list-style: none;
			}
			&-item {
				min-width: 33.333333%;
				box-sizing: border-box;
				
			}
		}
		&__link {
			display: block;
			padding: $padding*2 $padding $padding;
			color: #fff;
			text-decoration: none;
			font-family: "Guardian Egyptian Headline",Georgia,serif;
			border-bottom-style: solid;
			border-bottom-width: 0;
			transition: .25s all ease;
			&.active {
				border-bottom-width: .25rem;
			}
			&:hover {
				text-decoration: underline;
				
			}
			&:focus {

			}
		}
		&__panel.visible {
			animation: tabbed-list-opacity0to1 .5s;
		}
		&__panel {
			padding: $padding;
			.js-on & {
				display: none;
				
			}
			&.visible {
				display: block;
			}
		}
	}
	// NEWS CONTENT
	.news-list {
		list-style: none;
		padding: 0;
		margin: 0;
		&__title {
			border-bottom: 1px solid;
		}
		&__item {
			margin:  .5rem 0;
			&-link {
				display: inline-block;
				text-decoration: none;
				font-family: "Guardian Egyptian Headline",Georgia,serif;
				color: $textDarkGrey;

				&:hover {
					text-decoration: underline;
					
				}
			}
		}
	}